#img-div {
  width:100%;
}

#title {
  text-align: center;
}

#img-caption {
  text-align: center;
  margin: 15px;
}

html {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(155, 175, 185, 0.72);
  min-width:260px;
}

img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  background: white;
  border: 5px solid black;
}

#main {
  margin: 30px auto;
  padding: 10px;
}

summary {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(155, 175, 185, 0.72);
}

.discription {
  padding: 30px;
  text-align: justify;
}

.indent {
  text-indent: 20px;
}

@media (min-width: 600px) {
.biblio {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: (100px, auto);
  grid-gap: 10px;
  grid-template-areas:
  "text text text text text text photo1 photo1 photo1"
  "text text text text text text photo2 photo2 photo2"
  "photo3 photo3 photo3 photo4 photo4 photo4 photo5 photo5 photo5"
}

.Bibliography {
  grid-area: text;
}

.box1 {
  grid-area: photo1;
}

.box2 {
  grid-area: photo2;
}

.box3 {
  grid-area: photo3;
}

.box4 {
  grid-area: photo4;
}

.box5 {
  grid-area: photo5;
}
}
