#img-div {
  width:100%;
}

#title {
  text-align: center;
}

#img-caption {
  text-align: center;
  margin: 15px;
}

html {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(155, 175, 185, 0.72);
  min-width:260px;
}

img {
  display: block;
  height: auto;
  margin: auto;
  max-width: 100%;
  background: white;
  border: 5px solid black;
}

#main {
  margin: 30px auto;
  padding: 10px;
}

summary {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(155, 175, 185, 0.72);
}

.discription {
  padding: 30px;
  text-align: justify;
}

.indent {
  text-indent: 20px;
}
