#img-div {
  width:100%;
}

#title {
  text-align: center;
}

#img-caption {
  text-align: center;
  margin: 15px;
}

html {
  font-family: 'Raleway', sans-serif;
  background-color: rgba(155, 175, 185, 0.72);
}

img {
  display: block;
  height: auto;
  margin: auto;
  width:100%;
  background: white;
  border: 5px solid black;
  margin: -5px;
  margin-top: 5px;
}

#main {
  margin: 30px auto;
  padding: 10px;
}

summary {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  background-color: rgba(155, 175, 185, 0.72);
}
